body {
	background-image: url("Branding/Back.png");
    background-repeat: no-repeat;
	background-position: top center;
	height:330px;
	width:200px;
}
@font-face {
    font-family: myFirstFont;
    src: url(Branding/OpenSans-Light.ttf);
}
h1{
    text-align: center;
    color: black;
    font-size: 18px;
	word-spacing: 20px;
	text-decoration: bold;
	background-color: #929596;
    font-family: myFirstFont;
}
 
input[type="password"], input[type="text"]{
    border: 1px solid black;
    border-radius: 2px;
}
.login-prompt{
    text-align: center;
    color: black;
	font-weight: bold;
    font-size: 16px;
    font-family: myFirstFont;
}

#login{
    background-color: #929596;
    border: none;
    color: black;
	text-decoration: bold;
    padding: 10px 20px;
    text-align: center;
    margin: auto;
    font-family: myFirstFont;
    font-size: 18px;
}

.button-frame{
    text-align: center;
    color: white;
	padding: 25px;
    font-size: 18px;
    height: 80px;
    font-family: myFirstFont;
}

.link-frame{
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: myFirstFont;
}
